@font-face {
  font-family: 'Monorama';
  src: local('Monorama Bold'), local('Monorama-Bold'),
      url('Monorama-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monorama';
  src: local('Monorama Regular'), local('Monorama-Regular'),
      url('Monorama-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --text: #000000;
  --fg: #ececec;
  --bg: #ffffff;
  --line-color: #000000;
  --line-width: 2px;
  --accent: #a6a6a6;
  --font: "Monorama";
}

* {
  color: var(--text);
  font-family: var(--font);
  font-weight: normal;
  text-decoration: none;
  background-color: var(--fg);
  margin: 0;
}

nav {
  display: flex;
  position: sticky;
  z-index: 2;
  top: 0;
  justify-content: space-between;
  align-items: center;

  padding: 1em;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#nav-right {
  display: flex;
  align-items: center;
  gap: 3vw;
}

h1 {
  font-family: var(--font);
  font-weight: bold;
  font-size: xx-large;
}

hr {
  width: 100%;
  border-top: var(--line-width) solid var(--line-color);
  margin: 2em 0;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}

.stretch {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stretch input {
  max-width: 50px;
}

.bordered {
  border: var(--line-width) solid var(--line-color);
}

#graph_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2em 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  justify-content: center;

  width: 75%;
  margin: 2em auto;
  padding: 2em;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body {
  background: var(--bg);
  background-image: radial-gradient(var(--accent) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
  margin: 0;
  padding: 0 0 5em 0;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;

  width: max-content;
  max-width: 200px;

  background-color: black;
  color: #fff;
  text-align: center;
  font-family: "Arial";
  font-size: 12px;
  padding: 5px;
  border-radius: 6px;

  /* Position the tooltip text */
  text-align: left;
  text-wrap: wrap;
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
